@media (min-width: 1000px){
  .quantity-grid-mobile{
    display: block !important;
  }

  .quantity-grid{
    display: none !important;
  }

  .top47{
    top: 0px;  
  }

  .image-with-text__content>*+* {
    margin-top: 0rem !important;
}

  .image-with-text__content--desktop-left>*{
    margin-bottom: 30px;
  }

   .subscription-widget {
    display: flex !important;
    flex-direction: column;
  }

  .cadence-selector {
    order: -1;
     margin-bottom: 1rem !important;
    flex-direction: row !important;
    gap: 1rem;
    align-items: center;
  }

  .cadence-selector .value-props {
    display: none !important;
  }

  cadence-selector .radio-circle, .cadence-selector .option-details, .cadence-selector .price-container {
    display: none !important;
  }

  .cadence-selector .radio-option, .cadence-selector .radio-option__button {
    margin-bottom: 0px !important;
  }

   .cadence-selector .radio-option {
    flex: 1;
    border: 1px solid #e5dbcc;
  }

   .quantity-grid-mobile .radio-option {
    border: 1px solid #e5dbcc;
  }

    .quantity-grid-mobile {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .cadence-selector .option-header{
    justify-content: center;
  }

}

.quantity-grid-mobile .option-details {
    display: flex !important;
    align-items: end;
    justify-content: end;
}

.bottles-text {
    white-space: nowrap;
    display: none;
}

.save-text{
      margin: 0 !important;
    position: absolute !important;
    font-size: 10px !important;
    background: #9caf88 !important;
    padding: 5px !important;
    color: #000000bf !important;
    top: 20px;
}

@media (max-width: 900px){
  .quantity-grid-mobile .radio-option:nth-child(2) .value-props.js-mobile-value-props{
    display: flex !important;
        border: 0px !important;
  }
}