@media (min-width: 1000px){
  .quantity-grid-mobile{
    display: block !important;
  }

  .quantity-grid{
    display: none !important;
  }

   .subscription-widget {
    display: flex !important;
    flex-direction: column;
  }

  .cadence-selector {
    order: -1;
    margin-bottom: 1rem;
    flex-direction: row;
    gap: 1rem;
  }
}