@media (min-width: 1000px){
  .quantity-grid-mobile{
    display: block !important;
  }

  .quantity-grid{
    display: none !important;
  }

   .subscription-widget {
    display: flex !important;
    flex-direction: column;
  }

  .cadence-selector {
    order: -1;
     margin-bottom: 1rem !important;
    flex-direction: row !important;
    gap: 1rem;
  }

  .cadence-selector .value-props {
    display: none !important;
  }

  cadence-selector .radio-circle, .cadence-selector .option-details, .cadence-selector .price-container {
    display: none !important;
  }
}